{% extends "base.html" %}

{% block title %}
{{ super() }} - {{ title }}
{% endblock %}

{% block content %}
<h2>Куртки</h2>
    <ul>
        <li class="nav-item">1. Пальто (Coat): Обычно длинное, накладное пальто,
            предназначенное для защиты от холода.</li>
        <li class="nav-item">2. Пуховик (Puffer Jacket): Куртка с утеплителем,
            часто наполненная пухом или синтетическими материалами.</li>
        <li class="nav-item">3. Куртка-бомбер (Bomber Jacket): Короткая куртка
            с резиновыми манжетами и узкой талией, часто с застежкой-молнией.</li>
        <li class="nav-item">4. Джинсовая куртка (Denim Jacket): Куртка из денима,
            обычно с отделкой кнопками.</li>
    </ul>
{% endblock %}